@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>.NET Core app! <strong>v2</strong></h3>
        <h2>THE BEST STAR WARS MOVIE</h2>
        <img src="/images/clone-wars.jpg" alt="clone-wars">
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        Hosted on node: @ViewData["POD_NODE_NAME"]
        <br>
        with name: @ViewData["POD_NAME"]
    </div>
</div>
