@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>.NET Core app! <strong>v3</strong></h3>
        <img src="/images/DeathStarMeme.jpg" alt="death-star">
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        Hosted on node: @ViewData["POD_NODE_NAME"]
        <br>
        with name: @ViewData["POD_NAME"]
    </div>
</div>
